# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\temp\elementui资料\elementusers\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
